streamlit==1.38.0
pandas
numpy
langchain
langchain-groq
langchain-community
chromadb
sentence-transformers
huggingface-hub
crewai
python-dateutil
uuid
json5
re
base64
typing-extensions
aiohttp
pydantic
fsspec
faiss-cpu
requests
transformers
torch
tqdm
pyttsx3
SpeechRecognition